


<header class="flex items-center px-8 relative border-b border-white light:border-gray">
  <a
    href="{{ routes.root_url }}"
    class="flex mx-auto w-full justify-center left-0 right-0  md:mx-0 md:justify-start"
    data-barba-prevent
  >
    <svg class="w-16 h-6 md:w-20">
      <use xlink:href="#logo"></use>
    </svg>
  </a>

  <!-- Independent button to toggle cart. See Main.cart component & cart.js store module -->
  <div vue>
    <button
      class="uppercase text-h5 button-sm ml-8 hidden  md:button md:inline-block"
      @click="$store.commit('overlays/TOGGLE_CART')"
    >
      {{ 'action.cart' | t }}
    <button>
  </div>
</header>