<button class="px-4 block absolute h-header top-0 z-30  md:hidden" @click="$store.dispatch('overlays/toggleMenu')">
    <svg class="w-4 h-4 light:text-black">
        <use xlink:href="#menu"></use>
    </svg>
</button>

