<h3 class="page-title">
  {{ page.title }}
</h3>

<section vue class="no-js:hidden">
  <div class="p-4 md:p-8">
    <!-- See WishListPage.vue component -->
    <wishlist-page> We're sorry, your wishlist is not available right now. </wishlist-page>
  </div>
</section>

<div id="swym-wishlist-render-container" class="js:hidden"></div>
