<!-- See MainMenu.vue -->
<main-menu wrapper-class="nav-open:hidden flex-1">
  <!-- Slot rendered as a fallback -->
  <ul class="grid h-full grid-rows-menu">
    {% for link in linklists.menu.links %}
      <li class="{{ nav_items_class }}  {% if forloop.last == false %}border-b{% endif %}">
        <a
          href="{{ link.url }}"
          class="text-h2  w-full text-center md:text-left md:text-[13vh] uppercase my-2 hover:text-white hover:border-black hover:italic {% if link.current %}italic{% endif %}"
        >
          {{ link.title }}
        </a>
      </li>
    {% endfor %}

    <li class="{{ nav_items_class }} border-t no-js:hidden">

    </li>
  </ul>

  {% comment %} <svg class="w-12 h-16 bottom-8 left-8 z-50 hidden md:block fixed">
    <use xlink:href="#menu_wing_button"></use>
  </svg> {% endcomment %}
</main-menu>
