<section class="v-screen h-screen bg-black text-white flex justify-center items-center ">
    {% form 'storefront_password' %}
        {{ form.errors | default_errors }}
    
        <input type="password" name="password class="mr-4" placeholder="TYPE PASSWORD...">
        <input type="submit" value="enTer" class="button button-sm">
    {% endform %}
</section>


{%- style -%}
  body {
      background-image: url('{{ section.settings.image | image_url: width: 1000 }}');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
  }
{%- endstyle -%}

{% schema %}
{
  "name": "Password",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background Image"
    }
  ]
}
{% endschema %}
