<h2 class="page-title">
  {{ article.title }}
</h2>

<div class="mb-12 text-h3 richtext no-js:hidden" vue>
  <blog-post handle="{{- article.handle | remove: 'editorial/' -}}" >
    {{ article.content }}
  </blog-post>
</div>
 
<div class="js:hidden">
  {{ article.content }}
</div>