<h2 class="page-title">
  {{ page.title }}
</h2>

<div class="page-body mb-12 richtext no-js:hidden" vue>
  <page-content handle="{{- page.handle }}" >
    {{ page.content }}
  </page-content>
</div>
 
<article class="page-body richtext js:hidden p-4 md:p-8">
  {{ page.content }}
</article>