<h3 class="page-title">
    {{ page.title }}
</h3>

<div vue class="p-4 md:p-8 no-js:hidden">
    <!-- See WishListPage.vue component -->
    <wishlist-page> We're sorry, your wishlist is not available right now. </wishlist-page>
</div>

<div id="swym-wishlist-render-container" class="js:hidden"></div>
