<h2 class="page-title">
  {{ 'customer.account.title' | t }}
</h2>

{% if settings.account_about %}
  <div class="uppercase md:text-h3 border-b p-4 pb-8 md:p-8 mb-8 leading-150 richtext">
    {{ settings.account_about | richtext }}
  </div>
{% endif %}

<div vue id="login_form">
  <account-login
    v-slot="{ active, show, hash }"
    initial="login"
  >
      <div
        v-show="active === 'forgot-password' || hash === '#recover'"
        key="forgot-password"
        class="no-js:hidden"
      >
        {% render 'account-forgot-password' %}
      </div>

      <div
        v-show="active === 'login' && !hash"
        key="login"
      >
        {% render 'account-login' %}
      </div>
  </account-login>
</div>

<div class="js:hidden">
  {% render 'account-login' %}
</div>

